Repository ethan-tyler/metafuse-io: changes, and which Codecov flags are due for each by the changed paths.
All: default, metrics, Core Library, Catalog API, Catalog CLI, Query Engine

feat(v0.5.0): Phase 2 - CI enhancements and cloud testing infrastructure
  .github/workflows/cloud-tests.yml
  CONTRIBUTING.md
  README.md
  benches/cloud_backend_benchmarks.rs
  crates/catalog-api/tests/security_integration_tests.rs
  crates/catalog-storage/tests/stress_tests.rs
  docs/STRESS-TESTING.md
  docs/cloud-emulator-tests.md
Due: default, Catalog API

fix: update security integration tests middleware pattern
  crates/catalog-api/tests/security_integration_tests.rs
Due: default, Catalog API

fix: specify package in cloud-tests workflow
  .github/workflows/cloud-tests.yml
Due: none

chore: apply cargo fmt
  crates/catalog-api/src/rate_limiting.rs
Due: default, Catalog API

fix(s3-tests): use CI-provided MinIO and faster bucket creation
  crates/catalog-storage/tests/s3_emulator_tests.rs
Due: default

fix: align S3 emulator tests with S3/MinIO ETag behavior
  crates/catalog-storage/tests/s3_emulator_tests.rs
Due: default

fix: detect CI environment in GCS tests to avoid container conflict
  crates/catalog-storage/tests/gcs_emulator_tests.rs
Due: default

fix: disable GCS emulator tests due to XML API incompatibility
  .github/workflows/cloud-tests.yml
  crates/catalog-storage/src/lib.rs
  crates/catalog-storage/tests/gcs_emulator_tests.rs
Due: default

feat(catalog-client): add HTTP client SDK with DataFusion integration
  Cargo.toml
  crates/catalog-client/Cargo.toml
  crates/catalog-client/src/cache.rs
  crates/catalog-client/src/client.rs
  crates/catalog-client/src/config.rs
  crates/catalog-client/src/datafusion/catalog.rs
  crates/catalog-client/src/datafusion/mod.rs
  crates/catalog-client/src/datafusion/schema.rs
  crates/catalog-client/src/datafusion/table.rs
  crates/catalog-client/src/error.rs
  crates/catalog-client/src/lib.rs
  crates/catalog-client/src/types.rs
  crates/catalog-client/tests/client_integration_tests.rs
Due: default

fix(catalog-api): gate integration tests and imports by feature flags
  crates/catalog-api/Cargo.toml
  crates/catalog-api/src/api_keys.rs
  crates/catalog-api/src/control_plane.rs
  crates/catalog-api/src/multi_tenant.rs
  crates/catalog-api/src/test_utils.rs
  crates/catalog-api/tests/control_plane_integration_tests.rs
  crates/catalog-api/tests/enterprise_feature_tests.rs
  crates/catalog-api/tests/multi_region_tests.rs
  crates/catalog-api/tests/tenant_api_key_tests.rs
  crates/catalog-api/tests/tenant_resolution_e2e_tests.rs
  crates/catalog-api/tests/write_endpoint_tests.rs
Due: default, Catalog API

feat(catalog): add multi-region foundation and tenant tier documentation
  CHANGELOG.md
  crates/catalog-core/src/migrations/mod.rs
  crates/catalog-core/src/migrations/v1_3_0.rs
  crates/catalog-storage/src/factory.rs
  crates/catalog-storage/src/tenant.rs
Due: default

fix(catalog-delta): handle Unix-style absolute paths on Windows
  crates/catalog-delta/src/lib.rs
Due: default

ci: add disk space cleanup for GitHub Actions runners
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
Due: none

style: apply cargo fmt formatting
  crates/catalog-api/src/main.rs
Due: default, Catalog API

fix(catalog-api): resolve clippy lints for CI compliance
  crates/catalog-api/src/alerting.rs
  crates/catalog-api/src/contracts.rs
  crates/catalog-api/src/main.rs
Due: default, Catalog API

feat(catalog): add v0.10.0 column-level lineage with PII propagation
  CHANGELOG.md
  Cargo.toml
  crates/catalog-api/Cargo.toml
  crates/catalog-api/src/lib.rs
  crates/catalog-api/src/lineage.rs
  crates/catalog-api/src/main.rs
  crates/catalog-api/src/metrics.rs
  crates/catalog-core/src/migrations/mod.rs
  crates/catalog-core/src/migrations/v1_6_0.rs
  crates/catalog-lineage/Cargo.toml
  crates/catalog-lineage/src/error.rs
  crates/catalog-lineage/src/lib.rs
  crates/catalog-lineage/src/parser.rs
  crates/catalog-lineage/src/types.rs
Due: default, metrics, Catalog API

feat(catalog): implement v1.0 quality, contracts, and production hardening
  crates/catalog-api/src/alerting.rs
  crates/catalog-api/src/contracts.rs
  crates/catalog-api/src/health.rs
  crates/catalog-api/src/main.rs
  crates/catalog-api/src/quality.rs
  crates/catalog-api/tests/enterprise_feature_tests.rs
  crates/catalog-core/src/lib.rs
  crates/catalog-core/src/migrations/mod.rs
  crates/catalog-core/src/migrations/v1_7_0.rs
Due: default, Catalog API

Path conditions:
  default: any of: crates/, but not: tests/**/*, benches/**/*, examples/**/*, **/tests.rs, **/benches.rs
  metrics: any of: crates/catalog-api/src/metrics.rs, but not: tests/**/*, benches/**/*, examples/**/*, **/tests.rs, **/benches.rs
  Core Library: any of: crates/metafuse-core/**/*.rs, but not: tests/**/*, benches/**/*, examples/**/*, **/tests.rs, **/benches.rs
  Catalog API: any of: crates/catalog-api/**/*.rs, but not: tests/**/*, benches/**/*, examples/**/*, **/tests.rs, **/benches.rs
  Catalog CLI: any of: crates/catalog-cli/**/*.rs, but not: tests/**/*, benches/**/*, examples/**/*, **/tests.rs, **/benches.rs
  Query Engine: any of: crates/query-engine/**/*.rs, but not: tests/**/*, benches/**/*, examples/**/*, **/tests.rs, **/benches.rs
